<div class="tagline">
    We accelerate uncommon ideas from concept to product to profit.
</div>
<br>
<div class="about-section">
    <div class="tag">
        About
    </div>
    <div class="description">
        Gray Duck Labs was hatched as a place to test, nurture and accelerate unique product concepts. We help product teams of all sizes move to their next stage.
    </div>
</div>
<div class="about-section">
    <div class="tag">
        People
    </div>
    <div class="description">

        <p>Charles Worthington is the Principal + Founder of Gray Duck Labs. He is an expert in product development, market analysis and business case creation.</p>
        <br>
        <div class="pic">
            <img src="images/charles2.png" alt="Team Picture">
        </div>
        <p>Before creating Gray Duck Labs, Charles advised Fortune 500 companies on adapting to disruptive web and mobile technologies.</p>
    </div>
</div>