<div class="mid-col tagline-container">
  <div class="mid-col-container">
    <div id="content" class="inner">
      <div class="tagline">
        We accelerate uncommon ideas from concept to product to profit.
      </div>
    </div>
  </div>
</div>

<div class="mid-col services-container">
  <div class="mid-col-container">
    <div id="content" class="inner">
      <div class="subway-tag-top">
        Concept
      </div>

      <div class="subway">
        <img src="images/subway.gif" width="80px" alt="Guide to our services">
      </div>

      <div class="service-description">
          We help organizations of all sizes identify and prioritize attractive opportunities for product investment.
      </div>

      <div class="subway-tag">
          Product
      </div>

      <div class="service-description">
          Transforming a good idea into a beautiful product is a daunting task. We help bring your idea to life quickly, using agile product development methods.
      </div>
      <div class="subway-tag">
        Profit
      </div>
      <div class="service-description bottom">
        Building something people love is only half the battle. We help you grow your product into a sustainable business with pricing, marketing and operations strategies. 
      </div>
    </div>
  </div>
</div>

<div class="mid-col about-container">
  <div class="mid-col-container">
    <div id="content" class="inner">


      <div class="about-section">
        <div class="tag">
            About Us
        </div>
        <div class="description">
          Gray Duck Labs was hatched as a place to test, nurture and accelerate unique product concepts. We help product teams of all sizes move to their next stage.
        </div>
      </div>
      <div class="about-section bottom">
        <div class="tag">
            People
        </div>
        <div class="description">
          <div class="pic">
            <img src="images/charles2.png" alt="Team Picture">
              <br>
              <a href="http://www.linkedin.com/pub/charles-worthington/3/5b8/111">
                <img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Charles Worthington's profile on LinkedIn">
              </a>
          </div>
          <p>Charles Worthington is the Principal + Founder of Gray Duck Labs. He is an expert in product design, development and management.</p>
          <br>

          <p>Previously, Charles helped Fortune 500 companies adapt to disruptive web and mobile technologies. He created Gray Duck Labs because disrupting is more fun than adapting.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mid-col services-container">
  <div class="mid-col-container">
    <div id="content" class="inner">
      <div class="projects">
          Projects in the Nest
      </div>

      <div class="about-section">
        <div class="tag">
          <a href="http://www.punchli.st" title="Visit Punchlist"><img src="images/projects/punchlist_logo.png" width="85%" alt="Punchlist Logo"></a>
        </div>
        <div class="description">
          A web and mobile service to help you keep track of the media you want to remember to check out next.
        </div>
      </div>
      <div class="about-section">
        <div class="tag">
          <img src="images/projects/venuescout_logo.png" width="85%" alt="VenueScout Logo"></a>
        </div>
        <div class="description">
          A stealth web platform and mobile app SDK for enabling indoor location and passive presence solutions for the retail and hospitality industry.
        </div>
      </div>
      <div class="about-section">
        <div class="tag">
            <a href="http://wikicast.org" title="Visit Wikicast Mockup"><img src="images/projects/wikicast_screen.png" width="85%" alt="Wikicast Screen"></a>
        </div>
        <div class="description">
          A media collaboration tool that answers the question: what would public media sound like, if it was produced like a wiki? 
        </div>
      </div>
      <div class="about-section bottom">
        <div class="tag">
          Your Project Here?
        </div>
        <div class="description">
          <br>
          Gray Duck Labs works with product teams of all sizes. <a href="mailto:%63%6f%6e%74%61%63%74@%67%72%61%79%64%75%63%6b%6c%61%62%73.%63%6f%6d" title="Contact Us">Contact Us</a> and let's work together!
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mid-col about-container">
  <div class="mid-col-container">
    <div id="content" class="inner">


      <div class="about-section bottom">
        <div class="tag">
          <a id="Contact"></a>Get in Touch
         
        </div> 
        <div class="description">
          <p>We help move product teams of all sizes to their next stage. We are always interested in new challenges. <a href="mailto:%63%6f%6e%74%61%63%74@%67%72%61%79%64%75%63%6b%6c%61%62%73.%63%6f%6d" title="Email Us">Email Us</a> to see how we can work together.</p>
          <br>
          <p>You can also subscriber to our <a href="https://tinyletter.com/grayducklabs" title="Newsletter">newsletter</a>, check out our <a href="/blog" title="Blog">blog</a>, or connect with us on <a href="http://www.twitter.com/grayducklabs" title="Gray Duck Labs on Twitter">Twitter</a> and <a href="http://www.facebook.com/grayducklabs" title="Gray Duck Labs on Facebook">Facebook</a>.</p>
          <br>
          <p>Gray Duck Labs operates from San Francisco, CA and Boston, MA.</p>
          <br>
          <img src="images/locations.png" width="100%" alt="Gray Duck Labs Locations">
        </div>
      </div>
    </div>

    <footer id="footer" class="inner">
      {% include footer.html %}
    </footer>
      {% include after_footer.html %}
  </div>
</div>